@font-face {
  font-family: 'Pirata';
  src: url('/Fonts/Pirata/Pirata.woff2') format('woff2'),
       url('/Fonts/Pirata/Pirata.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Almendra';
  src: url('/Fonts/Almendra/Almendra.woff2') format('woff2'),
       url('/Fonts/Almendra/Almendra.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Aplicar globalmente */
h2, h3, h4 {
  font-family: 'Pirata', sans-serif;
  font-style: normal;
}

p {
  font-family: 'Almendra', serif;
  font-style: normal;
}
